@charset "UTF-8";

@keyframes arrowSpanFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.best-deals {
    position: static !important; // slick overrides
    margin-top: map-get($mq-container-indents, 'sx') / 4;

    @include mq(sm) {
        margin: 0 calc(-1 * #{map-get($mq-indents, 'sm')}) ;
    }

    @include mq(sx) {
        margin-top: 0;
        padding-top: map-get($mq-container-indents, 'sx');
    }

    @include mq(md) {
        padding-top: map-get($mq-container-indents, 'sx');
    }

    &--top-gutters {
        @include mq(sx) {
            margin-top: map_get($mq-container-indents, 'sx') / 2;
            padding-top: map-get($mq-container-indents, 'sx');
        }

        @include mq(md) {
            padding-top: map-get($mq-container-indents, 'sx') - 1px;
            border-top: 1px solid $color-lightest-minimal;
        }
    }

    // Just mobile
    .car-model-item {
        margin: map_get($mq-container-indents, 'sx') / 4 0 map_get($mq-container-indents, 'sx') / 2;
    }

    // just mobile
    &--custom {
        @include mq(sm) {
            margin: 0;
        }
    }

    &__grid {
        @include mq(md) {
            display: flex !important; // slick overrides
            align-items: stretch;
        }

        &:not(:first-child) {
            display: none !important; // slick overrides
        }

        &.slick-initialized {
            display: flex !important; // slick overrides
        }
    }

    &__auto-block {
        @include mq(md) {
            width: 70%;
            padding-right: map_get($mq-indents, 'sx');
        }
    }

    &__auto-tag-block {
        display: flex;
        justify-content: center;
        margin-bottom: map-get($mq-container-indents, 'sx') / 2;

        @include mq(sm) {
            display: none;
        }

        @include mq(md) {
            justify-content: flex-start;
        }
    }

    &__auto-tag-block-item {
        line-height: 1;

        &:not(:last-child) {
            margin-right: .8rem;
        }
    }

    &__image-block {

        @include mq(lg) {
            margin: 0 auto;
            width: 63.2rem;
        }

        @include mq-custom(min, 1024px) {
            width: 100%;
        }

        > img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    &__auto-title,
    &__price {
        @include header-h2;
    }

    &__auto-title {
        text-align: center;
        margin-bottom: calc(((#{map_get($mq-container-indents, sx)} / 2) / 2) / 2);

        @include mq(sm) {
            display: none;
        }

        @include mq(md) {
            text-align: left;
        }
    }

    &__information-block {

        @include mq(sx) {
            margin-top: map_get($mq-container-indents, 'sx') / 2;
        }

        @include mq(md) {
            margin-top: 0;
            width: 30%;
        }
    }

    &__information-block-grid {
        @include mq(sm) {
            &:not(:last-child) {
                margin-bottom: map-get($mq-container-indents, 'sx') / 2;
            }
        }

        @include mq(sx) {
            display: flex;
        }

        @include mq(md) {
            display: block;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;


            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: map-get($mq-container-indents, 'sx') / 2;
            }
        }

        &--revers {
            display: flex;

            @include mq(sm) {
                .best-deals__information-block-grid-item:first-child {
                    margin-bottom: 0;
                }

            }

            @include mq(sx) {
                flex-direction: row-reverse;
            }

            @include mq(md) {
                display: block;
            }

            > .best-deals__information-block-grid-item {

                @include mq(sm) {
                    &:last-child {
                        margin-bottom: map-get($mq-container-indents, 'sx') / 2;
                    }
                }

                @include mq(sx) {
                    &:last-child {
                        margin-right: map_get($mq-indents, 'sx');
                    }
                }

                @include mq(md) {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        &--buttons {
            @include mq(sx) {
                margin-top: calc(#{map_get($mq-container-indents, 'sx')} / 2);
            }

            @include mq(md) {
                margin-top: 0;
            }
        }

        &.not-mobile {
            @include mq(sm) {
                display: none;
            }
        }
    }

    &__information-block-grid-item {

        @include mq(sm) {
            &:first-child {
                margin-bottom: map-get($mq-container-indents, 'sx') / 2;
            }
        }

        @include mq(sx) {
            width: calc(50% - (#{map_get($mq-indents, 'sx')} / 2));

            &:first-child {
                margin-right: map_get($mq-indents, 'sx');
            }
        }

        @include mq(md) {
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            width: auto;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: map-get($mq-container-indents, 'sx') / 2;
            }
        }

        &--button-box {
            @include mq(sm) {
                width: 100%;
            }

            padding: 1px;
            > .button {
                display: block;
            }
        }

        &.not-mobile {
            @include mq(sm) {
                display: none;

                > a {
                    display: none;
                }
            }
        }

        > .auto-options-grid {
            @include mq(sm) {
                display: none;
            }
        }
    }

    &__price {
        margin-bottom: calc(((#{map_get($mq-container-indents, sx)} / 2) / 2) / 2);

        > span {
            @include text-small(300);
        }
    }

    &__sale-box {
        display: none;
        margin-top: calc(((#{map_get($mq-container-indents, sx)} / 2) / 2) / 2);

        @include mq(md) {
            margin-bottom: map-get($mq-container-indents, 'sx') / 2;
        }

        &[data-old-price],
        &[data-sale] {
            display: flex;
        }

        &[data-old-price] {
            &::before {
                font-size: 1.3rem;
                line-height: 1.54;
                display: block;
                text-decoration: line-through;
                color: $color-light;
                content: attr(data-old-price);
            }
        }

        &[data-sale] {
            &::after {
                @include ellipsis;

                font-size: 1.2rem;
                line-height: 1.33;
                display: block;
                margin-left: 2.2rem;
                padding: .2rem .6rem;
                max-width: 60%;
                border-radius: $border-radius-min;
                background: $brand-grapefruit;
                font-weight: 400;
                color: #fff;
                content: attr(data-sale);
            }
        }
    }

    // slick overrides

    .slick-list {
        overflow: inherit !important;
    }

    .slick-slide {
        @include mq(sm) {
            padding: 0 map-get($mq-indents, 'sm');
        }
    }

    .custom-slider-actions__prev,
    .slick-arrow.slick-prev {
        left: 0;

        > span {
            margin-left: map-get($mq-container-indents, 'sx') / 4;
        }
    }

    .custom-slider-actions__next,
    .slick-arrow.slick-next {
        right: 0;

        > span {
            margin-right: map-get($mq-container-indents, 'sx') / 4;
        }
    }

    .slick-dots {
        min-height: .6rem;
        margin-top: map-get($mq-container-indents, 'sx') / 4;
    }
}
