@charset "UTF-8";

.brand-conditions {
    margin: map-get($mq-container-indents, 'sx') / 4 calc(-1 * #{map_get($mq-container-indents, 'sm')}) 0;

    @include mq(sx) {
        margin: calc(#{map_get($mq-container-indents, 'sx')} / 2) calc(-1 * #{map_get($mq-container-indents, 'sx')}) 0;
        overflow-x: scroll;
    }

    @include mq(md) {
        overflow: visible;
    }

    &__container {
        @include mq(sx) {
            min-width: 100%;
            overflow: visible;
        }
    }

    &__grid {
        display: flex;

        @include mq(sm) {
            flex-direction: column;
        }

        @include mq(sx) {
            margin: 0 map_get($mq-container-indents, 'sx');
        }

        @include mq(md) {
            justify-content: center;
            margin: 0;
        }
    }

    &__grid-col {
        @include mq(sx) {
            width: 29.2rem;

            &:not(:last-child) {
                margin-right: .8rem;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        padding: map-get($mq-container-indents, 'sx') / 4;
        min-width: 29.2rem;
        border-radius: $border-radius-min;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
        transition: all $transition-duration-base-min;
        cursor: pointer;

        .mod_no-touchevents & {
            &:hover {
                box-shadow: 0 .6rem .8rem 0 rgba(0, 0, 0, 0.11), 0 0 0 .1rem rgba(0, 0, 0, 0.11);
            }
        }
    }

    &__item-circle {
        @include size(9.6rem);

        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 9.6rem;
        border-radius: 50%;
        overflow: hidden;

        &--warranty {
            background: $brand-turquoise;

            > .icon {
                @include size(3.2rem, 3.1rem)
            }
        }

        &--credit {
            background: $color-amber;

            > .icon {
                @include size(3.6rem, 2.6rem)
            }
        }

        &--service {
            background: $brand-bluish;

            > .icon {
                @include size(2.8rem, 3.2rem)
            }
        }
    }

    &__description {
        margin-left: map-get($mq-container-indents, 'sx') / 4;
        color: $color-light;
    }

    // slick overrides

    .slick-slide {
        margin: 0 map_get($mq-container-indents, 'sm');
    }
}

.brand-filter {
    max-width: 100%;
    margin-top: calc(#{map_get($mq-container-indents, 'sx')} / 2);
    transition: opacity $transition-duration-base-min;

    @include mq(sx) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: map_get($mq-container-indents, 'sx') calc(-1 *(#{map_get($mq-container-indents, 'sx')} / 2)) 0;
        max-width: calc(#{map_get($mq-container-indents, 'sx')} + 100%);
    }

    @include mq(md) {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    &.is-hidden {
        @include mq(sx) {
            visibility: hidden;
            opacity: 0;
        }
    }

    &__item {
        line-height: 1;

        &--grid {
            display: flex;
            justify-content: space-between;

            @include mq(sm) {
                margin-top: calc(#{map_get($mq-container-indents, 'sx')} / 2);
            }

            @include mq(md) {
                justify-content: flex-end;
                margin-top: 0;
            }
        }

        &--tabs {
            @include mq(sm) {
                margin: 0 calc(-1 * #{map_get($mq-container-indents, 'sm')});
                padding: 0 map_get($mq-container-indents, 'sm');
                overflow: auto;
            }

            @include mq(sx) {
                flex: 1;
            }
        }
    }

    &__item-col {
        display: flex;
        align-items: center;

        &.is-sm {
            display: none;

            @include mq(sm) {
                display: block;
            }
        }

        > .tooltip-link {
            @include text-small(400);
            @include interact(background-color, rgba(0, 0, 0, 0.05));
            @include interact(border-color, rgba(0, 0, 0, 0.04));
            @include interact(text-decoration, none);

            position: relative;
            padding: .4rem 2.6rem .4rem .8rem;
            border-radius: $border-radius-min;
            border: solid 1px transparent;


            &::after{
                position: absolute;
                top: 50%;
                right: .6rem;
                transform: translateY(-50%);
                display: block;
                pointer-events: none;
                border-top: .6rem solid $color-base;
                border-right: .5rem solid transparent;
                border-left: .5rem solid transparent;
                transition: $transition-duration-base;
                content: ""
            }

            &.is-active {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }


        > ul {
            &.is-sx {
                display: none;

                @include mq(sx) {
                    display: flex;
                }
            }
        }

        > span {
            @include text-small(400);

            margin-right: .8rem;
            white-space: nowrap;
        }

        @include mq(sx) {
            &:not(:last-child) {
                margin-right: calc(#{map_get($mq-container-indents, 'sx')} / 2);
            }
        }
    }
}
