@charset "UTF-8";

.section {
    //overflow: hidden;

    &:first-child {
        padding: map-get($mq-container-indents, 'sx') / 2 0;

        @include mq(sx) {
            padding: map-get($mq-container-indents, 'sx') 0;
        }
    }

    &:not(:first-child) {
        border-top: 1px solid $color-lightest;
        padding: calc(#{map-get($mq-container-indents, 'sx')} / 2 - 1px) 0 map-get($mq-container-indents, 'sx') / 2;

        @include mq(sx) {
            padding: calc(#{map-get($mq-container-indents, 'sx')} - 1px) 0 map-get($mq-container-indents, 'sx');
        }
    }

    &[data-credit-gradient-type="#f2f2f2"] {
        @include mq(sx) {
            background-image: linear-gradient(to bottom, #f2f2f2, rgba(255, 255, 255, 0));
        }
    }

    &--no-top-border {

        &:not(:first-child) {
            border-top-color: transparent;
        }
    }

    &--no-padding-bottom {
        padding: 0;

        &:first-child,
        &:not(:first-child) {
            padding-bottom: 0;

            @include mq(sx) {
                padding-bottom: 0;
            }
        }
    }

    &--no-padding-top {
        padding: 0;

        &:first-child,
        &:not(:first-child) {
            padding-top: 0;
            border-top: 0;

            @include mq(sx) {
                padding-top: 0;
            }
        }
    }

    &--model {
        position: relative;
        z-index: 15;
        //background-color: #f2f2f2;

        &:nth-child(2) {
            z-index: 14;
        }

        &:nth-child(3) {
            z-index: 13;
        }

        &:nth-child(4) {
            z-index: 12;
        }

        &:nth-child(5) {
            z-index: 11;
        }

        &:nth-child(6) {
            z-index: 10;
        }
        &:nth-child(7) {
            z-index: 9;
        }

    }

    + .section--no-top-border {
        padding-top: 0;
    }

    &__image-box {
        margin-bottom: map-get($mq-indents, 'sx');

        > img {
            display: block;
            margin: 0 auto;
            vertical-align: top;
        }
    }


    &__title,
    &__brand-title,
    &__subtitle,
    &__description {
        text-align: center;
    }

    &__title,
    &__brand-title {
        margin-bottom: map-get($mq-container-indents, 'sx') / 2;

        @include mq(sx) {
            margin-bottom: map-get($mq-container-indents, 'sx');
        }


        + .section__description,
        + .section__tab-container,
        + .section__model-description {
            margin-top: calc((-1 * (#{map-get($mq-container-indents, 'sx')} / 2) / 2));

            @include mq(sx) {
                margin-top: calc(-1 * #{map-get($mq-indents, 'sx')});
            }
        }
    }

    &__brand-title {
        display: block;
        font-size: 3.2rem;
        line-height: 1.13;
        font-weight: 300;

        @include mq(sx) {
            font-size: 8.8rem;
            line-height: 1.1;
        }

        &[data-color-white] {
            color: #fff;
        }

        &[data-brand] {

            > span {
                position: relative;
                padding-left: 4.3rem;

                @include mq(sx) {
                    padding-left: 7.6rem;
                }

                &::before {
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3.6rem;
                    height: 100%;
                    background: {
                        position: 50% 50%;
                        size: contain;
                        repeat: no-repeat;
                    };
                    content: "";

                    @include mq(sx) {
                        width: 6rem;
                        height: 8.8rem;
                    }
                }
            }
        }

        &[data-brand="Audi"] {
            span::before {
                background-image: url(../img/brand-logos/audi.png);
            }
        }

        &[data-brand="BMW"] {
            span::before {
                transform: translateY(-50%) scale(1.5);
                background-image: url(../img/brand-logos/bmw.png);
            }
        }

        &[data-brand="Chery"] {
            span::before {
                background-image: url(../img/brand-logos/chery.png);
            }
        }

        &[data-brand="Citroen"] {
            span::before {
                background-image: url(../img/brand-logos/citroen.png);
            }
        }

        &[data-brand="Ford"] {
            span::before {
                background-image: url(../img/brand-logos/ford.png);
            }
        }

        &[data-brand="Hyundai"] {
            span::before {
                background-image: url(../img/brand-logos/hyundai.png);
            }
        }

        &[data-brand="Infiniti"] {
            span::before {
                background-image: url(../img/brand-logos/infiniti.png);
            }
        }

        &[data-brand="Jaguar"] {
            span::before {
                background-image: url(../img/brand-logos/jaguar.png);
            }
        }

        &[data-brand="Jeep"] {
            span::before {
                background-image: url(../img/brand-logos/jeep.png);
            }
        }

        &[data-brand="Kia"] {
            span::before {
                background-image: url(../img/brand-logos/kia.png);
            }
        }

        &[data-brand="Lada"] {
            span::before {
                background-image: url(../img/brand-logos/lada.png);
            }
        }

        &[data-brand="Land Rover"] {
            span::before {
                background-image: url(../img/brand-logos/land_rover.png);
            }
        }

        &[data-brand="Lexus"] {
            span::before {
                background-image: url(../img/brand-logos/lexus.png);
            }
        }

        &[data-brand="Lifan"] {
            span::before {
                background-image: url(../img/brand-logos/lifan.png);
            }
        }

        &[data-brand="Mazda"] {
            span::before {
                background-image: url(../img/brand-logos/mazda.png);
            }
        }

        &[data-brand="MINI"] {
            span::before {
                background-image: url(../img/brand-logos/mini.png);
            }
        }

        &[data-brand="Mitsubishi"] {
            span::before {
                background-image: url(../img/brand-logos/mitsubishi.png);
            }
        }

        &[data-brand="Nissan"] {
            span::before {
                background-image: url(../img/brand-logos/nissan.png);
            }
        }

        &[data-brand="Ravon"] {
            span::before {
                background-image: url(../img/brand-logos/ravon.png);
            }
        }

        &[data-brand="Renault"] {
            span::before {
                background-image: url(../img/brand-logos/renault.png);
            }
        }

        &[data-brand="Skoda"] {
            span::before {
                background-image: url(../img/brand-logos/skoda.png);
            }
        }

        &[data-brand="Suzuki"] {
            span::before {
                background-image: url(../img/brand-logos/suzuki.png);
            }
        }

        &[data-brand="UAZ"] {
            span::before {
                background-image: url(../img/brand-logos/uaz.png);
            }
        }

        &[data-brand="Volkswagen"] {
            span::before {
                background-image: url(../img/brand-logos/volkswagen.png);
            }
        }

        &[data-brand="Volvo"] {
            span::before {
                background-image: url(../img/brand-logos/volvo.png);
            }
        }

        &[data-brand="Haval"] {
            span::before {
                background-image: url(../img/brand-logos/haval.png);
            }
        }

        &[data-brand="Genesis"] {
            span::before {
                background-image: url(../img/brand-logos/genesis.png);
            }
        }

        &[data-brand="Geely"] {
            span::before {
                background-image: url(../img/brand-logos/geely.png);
            }
        }

        &[data-brand="Mercedes-Benz"] {
            span::before {
                background-image: url(../img/brand-logos/mercedes-benz.png);
            }
        }

    }

    &__title {
        @include header-h1-lg;

        > span {
            color: $brand-bluish;
            @include mq(sx) {
                display: block;
            }
        }

        @include mq(sx) {
            @include header-h1;
        }
    }

    &__subtitle {
        @include header-h2;
    }

    &__description {
        @include text-base;

        margin-top: map-get($mq-container-indents, 'sx') / 4;
        margin-bottom: map-get($mq-container-indents, 'sx') / 2;

        &--sm-font-small {
            @include mq(sm) {
                @include text-small;
            }
        }

        &[data-color-white] {
            color: #fff;
        }

        &[data-font-weight="400"] {
            font-weight: 400;
            color: #fff;

            @include mq(sx) {
                font-weight: 400;
            }
        }
    }

    &__tab-container {
        margin-left: calc(-1 * #{map_get($mq-container-indents, 'sm')});
        margin-right: calc(-1 * #{map_get($mq-container-indents, 'sm')});
        max-width: calc(100% + (2 * #{map_get($mq-container-indents, 'sm')}));
        overflow-x: auto;
        text-align: center;

        @include mq(lg) {
            overflow: visible;
        }

        &.not-mobile {
            display: none;

            @include mq(sx) {
                display: block;
            }
        }

        @include mq(md) {
            padding-bottom: calc((#{map-get($mq-container-indents, 'sx')} / 2) - 1px);
            border-bottom: 1px solid $color-lightest-minimal;
            margin-left: calc(-1 * #{map_get($mq-container-indents, 'sx')});
            margin-right: calc(-1 * #{map_get($mq-container-indents, 'sx')});
            max-width: calc(100% + (2 * #{map_get($mq-container-indents, 'sx')}));
        }

        @include mq(lg) {
            margin-left: 0;
            margin-right: 0;
        }

        > .tabs {
            padding: 0 map_get($mq-container-indents, 'sm');

            @include mq(sx) {
                padding: 0 map_get($mq-container-indents, 'sx');
            }
        }

        &--no-bottom-gutter {
            padding-bottom: 0;
            border: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__model-description {
        @include mq(sm) {
            position: relative; // for tooltip
            text-align: center;
        }

        @include mq(sx) {
            display: flex;
            justify-content: center;
        }

        > ul {
            display: flex;

            &.not-mobile {
                @include mq(sm) {
                    display: none;
                }
            }

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
            > li {
                @include text-small;

                position: relative;
                color: $color-light;

                @include mq(md) {
                    font-weight: 300;
                }

                &:not(:last-child) {
                    padding-right: 1.6rem;

                    &::after {
                        @include size(.4rem);

                        position: absolute;
                        top: 1rem;
                        right: .55rem;
                        transform: translateY(-50%);
                        border-radius: 50%;
                        background: $color-light;
                        content: "";
                    }
                }
            }
        }


        // for tooltip

        .help-string {
            @include mq(sm) {
            }
        }

        .help-string__trigger {
            @include text-small;

            @include mq(md) {
                font-weight: 400;
            }
        }

        .tooltip-box {
            margin-right: .6rem;

            @include mq(sm) {
                position: static;
            }
        }
    }

    &__lg-narrow-container {
        @include mq(lg) {
            width: 97.2rem;
            margin: 0 auto;
        }
    }

    &__text-content {
        margin-top: map-get($mq-container-indents, 'sx') / 2;

        @include mq(md) {
            width: 63.2rem;
            margin: map-get($mq-container-indents, 'sx') / 2 auto 0;
        }

        > p {
            &:not(:first-child) {
                margin-top: map_get($mq-indents, 'sm');
            }
        }
    }

    &__button-box {
        margin: map-get($mq-container-indents, 'sx') / 2 0 map-get($mq-indents, 'sx');
        text-align: center;

        @include mq(sx) {
            margin: map-get($mq-indents, 'sx') 0 map-get($mq-container-indents, 'sx');
        }

        > .button {
            @include mq(sm) {
                display: block;
            }

            @include mq(sx) {
                min-width: 29.2rem;
            }
        }
    }

    &__bottom-image {
        margin-top: calc(#{map_get($mq-container-indents, 'sx')} / 2);

        @include mq(sx) {
            margin-top: map_get($mq-container-indents, 'sx');
        }

        > img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
    }
}

.section-subscribe-grid {
    @include mq(md) {
        @include grid(x, center, stretch);
    }

    &__col-form,
    &__col-options-button {
        @include mq(md) {
            @include grid-col();
        }
    }

    &__col-form {

        @include mq(md) {
            @include col-size(6/8)
        }

        @include mq(lg) {
            @include col-size(4/8)
        }

        .section-subscription-form {
            width: 100%;
        }

        .section__title {
            margin-bottom: map_get($mq-container-indents, 'sx') / 2;

            @include mq(md) {
                margin-bottom: map_get($mq-indents, 'sx');
            }
        }
    }

    &__col-options-button {
        margin-top: map_get($mq-indents, 'sm');
        text-align: center;

        @include mq(sx) {
            @include col-size(2/8)
            margin-top: map_get($mq-indents, 'sx');
        }

        @include mq(md) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
        }

        @include mq(lg) {
            @include col-size(2/8);
        }

        > p {
            min-width: 26.7rem;
            margin-bottom: map_get($mq-indents, 'sm');
            text-align: center;

            @include mq(sx) {
                margin-bottom: map_get($mq-indents, 'sx');
            }
        }
    }
}

.section-subscription-form {
    margin: map_get($mq-container-indents, 'sx') / 2 auto 0;

    @include mq(sx) {
        display: flex;
        align-items: stretch;
        margin: map_get($mq-indents, 'sx') auto 0;
    }

    @include mq(lg) {
        @include col-size(4/8);
    }

    .site-popup & {
        width: auto;
    }

    > .input {
        @include mq(sx) {
            flex: 1;

            &:not(:last-child) {
                margin-right: .8rem;
            }
        }

        > input {
            background: #fff;
        }
    }

    > .button {
        display: block;

        @include mq(sm) {
            margin-top: map_get($mq-container-indents, sx) / 4;
            width: 100%;
        }

        @include mq(md) {
            min-width: 22.4rem;
        }
    }
}
