@charset "UTF-8";

.site-popup {
    background-color: rgba(0, 0, 0, 0.14);

    @include mq(sm) {
        top: 0 !important;
        overflow-y: auto;

        // for safari scrolling
        -webkit-overflow-scrolling: touch;
    }

    // actions
    .close-button,
    .right-menu-close {
        @include size(4rem);

        position: absolute;
        top: .6rem;
        right: .6rem;
        padding: 1rem;
        outline: none;
        cursor: pointer;

        @include mq(md) {
            top: 2.2rem;
            right: 2.2rem;
        }

        > .icon {
            @include size(2rem);
        }
    }

    &--bottom {
        .mfp-content {
            vertical-align: bottom;
        }

        .site-popup__container {
            width: 100%;
            border-radius: 0;
            margin: 0;
        }
    }

    &--badge {
        height: 100% !important;
        z-index: 1043;
        position: fixed !important;
        outline: 0!important;

        .site-popup__container {
            @include mq(sm) {
                width: auto;
                margin: map_get($mq-container-indents, 'sx') / 4;
                min-height: 50%;
            }
        }

        .site-popup__header {
            text-align: left;
        }

        .mfp-wrap {
            top: 0;
            left: 0;
            width: 100%;
            height: 100% !important;
            z-index: 1043;
            position: fixed !important;
            outline: 0!important;
            -webkit-backface-visibility: hidden;
        }
    }

    &--sx-fullscreen {
        @include mq(sx) {
            top: 0 !important;
            overflow-y: auto;

            // for safari scrolling
            -webkit-overflow-scrolling: touch;

            .mfp-wrap {
                top: 0 !important;
            }
        }

        @include mq(md) {
            top: auto !important;
        }
    }

    &__container {
        position: relative;
        padding: map-get($mq-container-indents, 'sx') / 2 map-get($mq-container-indents, 'sm') map-get($mq-container-indents, 'sm');
        border-radius: $border-radius-min;
        background: #fff;

        @include mq(sm) {
            min-height: 100%;
            height: auto;
        }

        @include mq(sx) {
            margin: map-get($mq-container-indents, 'sx') 0;
            padding: map-get($mq-container-indents, 'sx') / 2 map-get($mq-container-indents, 'sx') map-get($mq-container-indents, 'sx') map-get($mq-container-indents, 'sx');
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
        }

        @include mq(md) {
            margin: 0 auto;
            width: 76rem;
        }

        &--car-search {
            @include mq(sx) {
                margin: 0;
                width: 100%;
                min-height: 100vh;
                height: auto;
            }

            @include mq(md) {
                min-height: auto;
                width: 100%;
            }

            @include mq(lg) {
                margin: 0 auto;
                width: 110rem;
            }
        }

        &--region-scroll-list,
        &--steps {
            > .close-button {
                @include mq(sm) {
                    position: fixed;
                }
            }
        }

        &--region-scroll-list {
            @include mq(sx) {
                padding-bottom: 0;
                height: 60rem;
                max-height: 60rem;
            }
        }

        &--steps {
            position: relative;

            @include mq(sm) {
                margin-bottom: 2rem;
            }

            @include mq(sx) {
                display: flex;
                flex-direction: column;
                padding-bottom: map_get($mq-container-indents, 'sx') / 2;
                min-height: 60rem;
                max-height: none;

                .site-popup__content {
                    flex-grow: 1;

                    .mod_flexboxtweener & {
                        flex-grow: 1;
                        flex-shrink: 0;
                        flex-basis: auto;
                    }
                }
            }
        }

        &--content-sx-scroll {
            @include mq(sm) {
                position: relative;
            }
            @include mq(sx) {
                padding-top: 0;
                padding-bottom: 0;
            }

            @include mq(md) {
                max-height: 60rem;
            }

            .site-popup__header {
                @include mq(sx) {
                    padding-top: map-get($mq-container-indents, 'sx') / 2;
                }
            }

            .site-popup__navigate-footer {
                @include mq(sx) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: map-get($mq-container-indents, 'sx') / 2 map-get($mq-container-indents, 'sx') map-get($mq-container-indents, 'sx') / 2;
                }
            }
        }

        &--sm-vertical-middle {
            @include mq(sm) {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .site-popup__header--border-bottom {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
    }

    &__container-scroll-y {
        @include mq(sx) {
            max-height: calc(60rem - 10.4rem);
            padding: 0 .3rem .8rem;
            border-bottom: 1px solid $color-lightest-secondary;
            overflow: auto;
        }
    }

    &__content-container {
        @include mq(lg) {
            @include col-size(4/8);

            margin: 0 auto;
        }
    }

    &__header {
        text-align: center;
        margin-bottom: map-get($mq-container-indents, 'sx') / 4;

        &--border-bottom {
            margin-bottom: map-get($mq-container-indents, 'sx') / 2;
            padding-bottom: calc(#{map-get($mq-container-indents, 'sx')} / 2 - 1px);
            border-bottom: 1px solid $color-lightest-minimal;
            text-align: center;
        }

        &--doble-bottom-gutter {
            margin-bottom: map-get($mq-container-indents, 'sx') / 2;
        }
    }

    &__header-image {
        display: flex;
        justify-content: center;
        margin: 4.4rem 0 map-get($mq-container-indents, 'sx') / 2;
    }

    &__image-box {
        position: relative;
        margin: 0 auto;

        > img {
            display: block;
            margin: 0 auto;
            vertical-align: top;
        }

        > svg {
            @include size(2rem);
            position: absolute;
            top: -1.4rem;
            right: 1rem;
        }
    }

    &__title {
        @include header-h2;

        &--font-weight-normal {
            font-weight: 400;
        }
    }

    &__icon {
        margin-bottom: map_get($mq-container-indents, 'sx');

        .banner-badge {
            display: flex;

            @include mq(sm) {
                display: flex;
            }
        }
    }

    &__content-title {
        @include header-equipment-h4;

        margin-bottom: map_get($mq-container-indents, 'sx') / 4;
    }

    &__alert-title {
        @include header-h1;

        text-align: center;
        color: $color-light;
    }

    &__description {
        margin-top: .8rem;
    }

    &__content {
        &--flex-column {
            display: flex;
            flex-direction: column;

            .site-popup__content-row {
                width: 100%;

                @include mq(sx) {
                    &:last-child {
                        margin-top: auto !important;
                    }
                }
            }
        }
    }

    &__content-row {
        &:not(:first-child) {
            margin-top: calc(#{map-get($mq-container-indents, 'sx')} / 2);
        }

        @include mq(sx) {
            &:not(:first-child) {
                margin-top: map-get($mq-container-indents, 'sx') / 2;
            }
        }

        &--grid {
            @include mq(sx) {
                @include grid;
            }
        }

        &--bottom-gutters {
            padding-bottom: map_get($mq-container-indents, 'sx') / 2 - 1px;
            border-bottom: 1px solid $color-lightest-minimal;
        }

        &--load-box {
            min-height: 4.8rem; // button height
            > .load-icon {
                display: none;
            }

            &.is-load {
                display: flex;
                justify-content: center;
                align-items: center;

                > .button {
                    display: none;
                }

                > .load-icon {
                    display: block;
                    animation: rotate 1s linear infinite;
                }
            }
        }

        &.not-sm {
            @include mq(sm) {
                display: none;
            }
        }
    }

    &__row-col {
        @include mq(sm) {
            &:not(:first-child) {
                margin-top: calc(#{map-get($mq-container-indents, 'sx')} / 2 / 2);
            }
        }

        @include mq(sx) {
            @include grid-col;
            @include col-size(1/2);
        }
    }

    &__text {
        color: $color-light;

        &:not(:first-child) {
            margin-top: calc(#{map-get($mq-container-indents, 'sx')} / 2 / 2);
        }
    }

    &__warning-text {
        @include text-minimal;

        text-align: center;
        color: $color-lighter;

        &:not(:first-child) {
            margin-top: calc(#{map-get($mq-container-indents, 'sx')} / 2 / 2);
        }

        > a {
            color: $color-base;
        }
    }

    &__order-buttons {
        margin: calc(#{map-get($mq-indents, 'sx')}) auto 0;
        text-align: center;

        @include mq(sx) {
            width: 29.2rem;
        }

        > span {
            display: block;
            margin: 1.6rem  0;
            color: $color-light;
        }
    }

    &__recommended-auto {
        @include mq(sm) {
            display: none;
        }
    }

    &__recommended-auto-grid {
        margin-top: map_get($mq-container-indents, 'sx') / 2;

        @include mq(sx) {
            @include grid;
        }
    }

    &__recommended-auto-grid-col {
        @include mq(sx) {
            @include grid-col-mx(1/2);
        }
    }

    // model subscribe elements
    .site-popup-subscribe-information {
        margin-bottom: -32px;

        &:empty {
            display: none;
        }

        &__item {
            position: relative;
            display: flex;
            align-items: center;
            padding: 32px 3rem 31px 0;
            border-bottom: 1px solid $color-lightest-minimal;

            &:last-child {
                padding-bottom: 32px;
                border: 0;
            }
        }

        &__remove-button {
            @include interact(fill, $brand-turquoise, 'hover .icon');

            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            width: 3rem;

            > .icon {
                @include size(2rem);

                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                fill: $color-lightest;
            }
        }
    }

    &__model-status-line {
        display: flex;
        margin-bottom: map_get($mq-container-indents, 'sx') / 4;
    }

    // footer
    &__footer {
        display: none;
        margin: map-get($mq-container-indents, 'sx') / 2 0 -1 * map-get($mq-container-indents, 'sx') / 2;
        padding-top: calc(#{map_get($mq-container-indents, 'sx')} / 2 - 1px);
        border-top: 1px solid $color-lightest-minimal;

        > .icon-information-line {
            margin-top: 0;
        }

        @include mq(sx) {
            display: block;
        }
    }

    &__navigate-footer {
        display: flex;
        background: #fff;

        @include mq(sm) {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            flex-direction: column;
            padding: map_get($mq-container-indents, 'sx') / 2 map_get($mq-indents, 'sm') map_get($mq-container-indents, 'sx') / 4;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.09);
        }

        @include mq(sx) {
            justify-content: space-between;
            align-items: center;
        }

        > li {
            @include mq(sm) {
                width: 100%;
            }

            @include mq(sx) {
                @include col-size(1/3);
            }

            &:first-child {
                display: none;

                @include mq(sm) {
                    order: 1;
                }

                @include mq(md) {
                    display: block;
                }
            }

            &:nth-child(2) {
                @include mq(sm) {
                    order: 3
                }
            }

            &:last-child {
                @include mq(sm) {
                    order: 1;
                    margin-bottom: map_get($mq-container-indents, 'sx') / 4;
                }

                @include mq(sx) {
                    text-align: right;
                }
            }

            > .button {
                @include mq(sm) {
                    width: 100%;
                }

                @include mq(sx) {
                    min-width: 12.8rem;
                }
            }
        }
    }

    &__client-service-grid {
        @include mq(md) {
            display: flex;
        }

        + .site-popup__footer {
            @include mq(md) {
                margin-top: map_get($mq-container-indents, 'sx') - 1px;
            }
        }
    }

    &__client-service-grid-operator-col {
        margin-bottom: map_get($mq-container-indents, 'sx') / 2;

        @include mq(md) {
            width: 17.2rem;
            margin-bottom: 0;
            margin-right: map_get($mq-container-indents, 'sx');
        }
    }

    &__client-service-grid-information-col {
        @include mq(md) {
            width: 39.6rem;
        }
    }

    &__operator-image {
        @include mq(md) {
            width: 17.2rem;
        }

        > img {
            display: block;
            margin: 0 auto;
            width: 17.2rem;
            border-radius: 50%;
            vertical-align: top;
        }
    }

    &__operator-information {
        @include text-small();

        margin-top: map_get($mq-container-indents, 'sx') / 4;
        text-align: center;
    }

    &__service-content {
        > h4 {
            @include header-h1;

            margin-bottom: map_get($mq-container-indents, 'sx') / 4;
        }

        > .button {
            margin-top: map_get($mq-container-indents, 'sx') / 2;
            width: 29.2rem;

            @include mq(sm) {
                width: 100%;
            }
        }
    }

    &__content-list {
        > li {
            @include header-offer-h5(400);

            position: relative;
            padding-left: .8rem;

            &::before {
                @include size(.3rem);

                position: absolute;
                top: .8rem;
                left: 0;
                border-radius: 50%;
                background: $color-light;
                content: "";
            }
        }
    }

    // overrides
    .mfp-container {
        padding: 0;
    }

    .mfp-content {
        @include mq(sm) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
        }
    }
}

.site-gallery-popup {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    bottom: 0!important;
    right: 0 !important;

    .close-button {
        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        outline: none;
        cursor: pointer;

        @include mq(md) {
            top: 3.2rem;
            right: 3.2rem;
        }

        > .icon {
            fill: #fff;
        }
    }

    // mfp overrides
    .mfp-content,
    .mfp-container,
    &__container {
        position: absolute;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        background: #000;
    }

    .mfp-container {
        padding: 0;
    }
}

.site-popup-pagination-steps {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: map_get($mq-container-indents, 'sx') / 4;
    background: #fff;

    @include mq(sx) {
        margin-top: 0;
    }

    > li {
        display: block;

        &:empty {
            display: none;
        }

        &:not(:last-child) {
            margin-right: map_get($mq-container-indents, 'sx') / 4;
        }

        > a {
            @include size(2rem);
            @include link-minimal;
            @include interact(text-decoration, none);

            line-height: 1.67;
            display: block;
            border-radius: 50%;
            color: $color-base;
            text-align: center;

            &.is-current {
                background: $brand-turquoise;
                color: #fff;

                .mod_no-flexboxtweener & {
                    pointer-events: none;
                }


                &.is-active {
                    padding: .5rem;
                    width: 5.6rem;
                    border-radius: 9px;
                }
            }
        }

        &:nth-child(2) {
            > a {
                &.is-current {
                    display: flex;
                    justify-content: space-between;
                    background: $brand-turquoise;
                    color: #fff;

                    &.is-active {
                        padding: .5rem;
                        width: 5.6rem;
                        border-radius: 9px;

                        &::before {
                            @include size(1.1rem, .8rem);

                            display: block;
                            background: {
                                position: 50% 50% !important;
                                size: contain !important;
                                repeat: no-repeat !important;
                                image: url("../img/icons/check.svg") !important;
                            }
                            content: "";
                        }
                    }
                }
            }
        }

        &:nth-child(3) {
            > a {
                &.is-current {
                    display: flex;
                    justify-content: space-between;
                    background: $brand-turquoise;
                    color: #fff;

                    &.is-active {
                        padding: .5rem;
                        width: 7.6rem;
                        border-radius: 9px;

                        &::before,
                        &::after  {
                            @include size(1.1rem, .8rem);

                            display: block;
                            background: {
                                position: 50% 50% !important;
                                size: contain !important;
                                repeat: no-repeat !important;
                                image: url("../img/icons/check.svg") !important;
                            }
                            content: "";
                        }

                        &::before {
                            order: 1;
                        }

                        &::after {
                            order: 2;
                        }

                        span {
                            order: 3;
                        }
                    }
                }
            }
        }
    }
}
