@charset "UTF-8";

.social-networks {
    display: flex;
    justify-content: center;
    align-items: center;

    > li {
        &:not(:last-child) {
            margin-right: map-get($mq-container-indents, 'sx') / 2;
        }

        > a {
            @include size(2rem);
            @include interact(fill, $brand-turquoise, 'hover .icon');

            display: block;
            font-size: 0; // text for vox

            &[data-youtube] {
                @include size(2rem, 1.36rem);
            }

            > .icon {
                @include size(100%);

                transition: $transition-duration-base;
                fill: $color-base;
            }
        }
    }

    &[data-footer] {

        > li {
            &:not(:last-child) {
                @include mq(sx) {
                    margin-right: calc(#{map-get($mq-container-indents, 'sm')} * 2);
                }
            }
            > a {
                @include mq(sx) {
                    @include size(2.8rem);
                }

                &[data-youtube] {
                    @include mq(sx) {
                        @include size(3.2rem, 2.25rem);
                    }
                }

                > .icon {
                    @include size(100%);

                    transition: $transition-duration-base;
                    fill: #fff;
                }
            }
        }
    }
}
