@charset "UTF-8";

@if $enable-buttons == true {
    .button {
        @include font(1.6rem,1.6rem);
        @include interact(background, $brand-blue-green);

        display: inline-block;
        padding: 1.2rem 2rem;
        border-radius: $border-radius-min;
        background: $brand-turquoise;
        color: #fff;
        font-weight: 700;
        text-align: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
        transition: $transition-duration-base;
        white-space: nowrap;
        text-decoration: none !important;
        cursor: pointer;
        outline: none;

        @at-root a#{&} {
            text-decoration: none;
        }

        &:disabled {
            opacity: .3;
            cursor: default;
            pointer-events: none;
        }

        &:not(.button--secondary) {
            @include interact(box-shadow, none);
        }

        &.button--block {
            display: block;
            width: 100%;
        }

        &--secondary {
            @include interact(background, $color-lightest-secondary);

            background: #fff;
            color: $color-base;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.09);
        }

        &[data-size-sm] {
            @include font(1.3rem, 1.6rem);

            padding: .8rem 3.6rem;
        }

        &[data-circle] {
            border-radius: 2.4rem;
        }

        &[data-size-xl] {
            padding: 1.6rem 2rem;
        }

        &[data-promo] {
            @include font(1.8rem, 2.4rem);

            padding: 1.2rem 6.4rem;
            min-width: 22.4rem;
            border-radius: 2.4rem;
            font-weight: 900;
        }

        &[data-callback] {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            > .icon {
                @include size(1.6rem);

                margin-right: .8rem;
                fill: #fff;
            }
        }

        &[data-sm-fixed] {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            transform: rotateZ(0);
            display: none;
            border-radius: 0;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.05);

            &.is-active {
                display: block;
            }
        }
    }

    .close-button {
        @include size(2rem);
        @include interact(fill, $brand-turquoise, 'hover .icon');

        position: absolute;
        top: 1.6rem;
        right: 1.6rem;
        cursor: pointer;
        outline: none;

        @include mq(md) {
            top: 3.2rem;
            right: 3.2rem;
        }

        > .icon {
            @include size(100%);

            fill: $color-base
        }
    }

    .back-button {
        @include interact(text-decoration, none);
        @include interact(background-color, rgba(0, 0, 0, 0.05));
        @include interact(border-color, rgba(0, 0, 0, 0.04));

        position: absolute;
        top: 1.2rem;
        left: .8rem;
        display: flex !important;
        align-items: center;
        padding: .4rem .8rem;
        border-radius: $border-radius-min;
        border: 1px solid transparent;
        cursor: pointer;
        outline: none;
        transition: all $transition-duration-base-min;

        @include mq(md) {
            top: 2.8rem;
            left: 2.4rem;
        }

        .icon {
            @include size(1.5rem, 2rem);

            margin-right: .8rem;
            transform: rotate(180deg);
            fill: $color-base;
        }

        > span {
            @include text-small(400);
        }

        &--clear {
            .icon {
                @include size(.88rem);

                margin-left: .8rem;
            }
        }

        &.not-mobile {
            @include mq(sm) {
                display: none !important;
            }
        }
    }


    @keyframes rotate-download-close {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .icon-link {
        display: inline-flex;
        align-items: center;
        line-height: 1.5;

        &:not(:last-child) {
            margin-right: map-get($mq-container-indents, 'sx') / 4;
        }

        > .icon,
        > span {
            display: block;
        }

        > .icon {
            margin-right: .8rem;
        }

        > span,
        &::after {
            @include text-base;
        }

        &[data-download] {
            position: relative;

            > .icon {
                @include size(1.3rem, 1.2rem);

                fill: $color-light;

                &.is-load {
                    display: none;
                }
            }

            > .load-icon,
            > .load-close {
                display: none;
            }

            > .load-icon {
                @include size(2.4rem);

                position: absolute;
                top: 50%;
                left: -.55rem;

                @include mq(md) {
                    left: -.74rem;
                    transform: translateY(-50%);
                }
            }

            > .load-close {
                @include size(.9rem);

                margin-right: 1.2rem;
            }

            &[data-content] {
                &::after {
                    content: attr(data-content);
                }
            }

            &.is-load {
                > .icon {
                    display: none;
                }

                > .load-icon,
                > .load-close {
                    display: block;
                }

                > .load-icon {
                    animation: rotate 1s linear infinite;
                }

                &::after {
                    content: 'Отменить';
                }
            }
        }

        &[data-add-to-favourites] {
            > .icon {
                @include size(1.24rem, 1.2rem);

                fill: $brand-grapefruit;
            }
        }

        &[data-add] {
            > .icon {
                @include size(1.2rem);

                fill: $color-light;
            }
        }

        &[data-report] {
            position: relative;
            padding-left: 1.8rem;

            > .icon {
                @include size(1rem, 1.2rem);

                position: absolute;
                top: .6rem;
                left: 0;
            }
        }

        &[data-share] {
            > .icon {
                @include size(1.1rem, 1.2rem);

                fill: $color-base
            }
        }
    }

    .open-still {
        @include size(4.6rem, 3.2rem);

        position: relative;
        padding: .3rem .8rem;
        border-radius: $border-radius-min;
        border: 1px solid transparent;

        &.is-active,
        &:hover {
            border-color: $color-lightest-minimal;
        }

        &.is-current {
            color: $color-base;
            border-color: $color-base;
        }

        > span {
            @include size(.4rem);

            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
            background: $color-base;

            &::before,
            &::after {
                @include size(100%);

                position: absolute;
                display: block;
                top: 0;
                left: 0;
                border-radius: 50%;
                background: $color-base;
                content: "";
            }

            &::before {
                transform: translateX(-200%);
            }

            &::after {
                transform: translateX(200%);
            }
        }
    }
}
