@charset "UTF-8";

@if $enable-checkboxes == true {

    .input-checkbox {
        margin-left: -.7rem;
    }

    .checkbox {
        @include size($checkbox-size);

        position: relative;
        display: inline-block;
        vertical-align: top;

        &__tag {
            @include size(100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;

            + .checkbox__box {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                border-radius: $border-radius-min;
                background: #fff;
                box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.11), 0 0 0 .1rem rgba(0, 0, 0, 0.09);
                transition: all $transition-duration-base;

                &::after {
                    @include size(0);

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: {
                        position: 50% 50%;
                        size: contain;
                        repeat: no-repeat;
                        image: url("../img/icons/check.svg");
                    }
                    content: "";
                }

                &--color {
                    box-shadow: none;
                    border-radius: 50%;
                    background: none;
                }
            }

            &:checked {
                + .checkbox__box {
                    background: $brand-turquoise;
                    box-shadow: inset 0 0 0 .1rem rgba(0, 0, 0, 0.09);

                    &::after {
                        @include size(2rem,1rem);
                    }
                }

                + .checkbox__box {
                    border-radius: $border-radius-min;
                    box-shadow: none;

                    &--color {
                        border-radius: 50%;

                        &::before {
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            right: -2px;
                            bottom: -2px;
                            border-radius: 50%;
                            border: 2px solid $brand-turquoise;
                            content: '';
                        }

                        &::after {
                            display: none;
                        }
                    }
                }
            }

            &:disabled {
                + .checkbox__box {
                    pointer-events: none;
                    opacity: .2;
                }
            }
        }

        &.checkbox--invalid {
            > .checkbox__tag + .checkbox__box {
                border-color: $color-error;
            }
        }
    }

    .label-checkbox {
        @include interact(border-color, rgba(0, 0, 0, 0.04));
        @include interact(background, rgba(0, 0, 0, 0.05));

        display: flex;
        align-items: flex-start;
        padding: .5rem .6rem;
        border: solid 1px transparent;
        transition: all $transition-duration-base;

        .input & {
            &:not(:last-child) {
                margin-bottom: .4rem;
            }
        }

        .checkbox {
            margin-right: 1.2rem;
        }

        > span {
            line-height: 1.25;
            color: $color-light;

            &:not([class]) {
                display: block;
                color: $color-light;
            }
        }

        &[data-help-icon] {
            button {
                @include size(2rem);

                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 1.2rem;
                border-radius: 50%;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.09);
                outline: none;

                &::after {
                    @include font(1.2rem);
                    font-weight: 900;
                    content: attr(data-help-icon-content);
                }
            }
        }

        .help-string__link {
            margin-left: .8rem;
        }
    }
}

.mod_no-touchevents .label-checkbox {
    &:hover {

        .checkbox__tag {

            &:not(:checked) {
                + .checkbox__box {
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.23);
                }
            }
        }
    }
}

