@charset "UTF-8";

.offer {
    position: relative;
    margin: 0 calc(-1 * #{map_get($mq-container-indents, sm)});
    background-color: #ffffff;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.11);
    overflow-x: hidden;

    @include mq(sx) {
        margin: 0 calc(-1 * #{map_get($mq-container-indents, sx)});
    }

    @include mq(md) {
        overflow: visible;
    }

    @include mq(lg) {
        margin: 0 calc(-1 * #{map_get($mq-indents, sx)});
        border-radius: $border-radius-min;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.11);
    }

    &__grid {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;

        @include mq(md) {
            .mod_no-flexboxtweener & {
                align-items: flex-start;
            }
        }
    }

    &__grid-col {
        &:first-child {
            .offer__content-item + .offer__content-item--all-options {
                .offer__all-option-list-item:first-child {
                    > dt {
                        @include mq(sx) {
                            @include mq-custom(max, 912px) {
                                border-top-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }
    }

    &__content-item {
        padding: map-get($mq-indents, 'sx') map_get($mq-indents, sm) calc((#{map_get($mq-container-indents, sx)} / 2) - 1px);
        width: 100%;
        border-bottom: 1px solid $color-lightest-minimal;

        @include mq(sx) {
            padding: map-get($mq-container-indents, 'sx') / 2;
        }

        @include mq(md) {
            padding: map-get($mq-container-indents, 'sx') / 2 map_get($mq-container-indents, sx);
            width: 63.98%;
            border-right: 1px solid $color-lightest-minimal;

            &:first-child {
                padding-top: #{map_get($mq-container-indents, sx)};
            }

            &:last-child {
                border-bottom: 1px solid transparent;
            }
        }

        @include mq(lg) {
            width: 65.2%;
        }


        &--image-column-grid {
            @include mq(md) {
                display: flex;
                flex-direction: column;
            }
        }

        &--horizontal-scroll {
            max-width: 100%;

            @include mq(sm) {
                overflow: auto;
            }
        }

        &--all-options {
            @include mq-custom(max, 912px) {
                padding-top: 0;
                padding-bottom: 3.2rem;
                border: 0;
            }
        }

        &.not-sm {
            @include mq(sm) {
                display: none;
            }

            @include mq(sx) {
                border-bottom: 0;
            }
        }
    }

    &__title {
        @include header-h1-lg;

        @include mq(lg) {
            @include header-h1;
        }

        margin-bottom: .8rem;
    }

    &__images {
        &__images {
            .mod_flexboxtweener & {
                flex: 1;
                @include mq(md) {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }

    &__image-big {
        margin-bottom: map-get($mq-container-indents, 'sx') / 2;

        @include mq(md) {
            margin: 0 auto map-get($mq-container-indents, 'sx') / 2;
            width: 50.8rem;
        }

        @include mq(lg) {
            width: 64.8rem;
        }
    }

    &__auto-tag-block {
        display: flex;

        &:not(:last-child) {
            margin-bottom: map-get($mq-container-indents, 'sx') / 2;
        }

        &--sm {
            @include mq(sx) {
                display: none;
            }
        }

        &--sx {
            @include mq(sm) {
                display: none;
            }
        }
    }

    &__auto-tag-block-item {
        line-height: 1;

        &:not(:last-child) {
            margin-right: .8rem;
        }
    }

    &__auto-tag-block-item-navigate {
        display: none;

        @include mq(md) {
            display: flex;
            justify-content: center;
        }
    }

    &__image-nav {
        display: flex;
        margin-top: auto;

        @include mq(sx) {
            justify-content: center;
        }

        > li {
            @include size(4.8rem, 3.6rem);

            position: relative;
            border-radius: $border-radius-min;
            overflow: hidden;

            &:not(:last-child) {
                margin-right: 1px;
            }

            > a {
                @include size(100%);

                position: absolute;
                top: 0;
                left: 0;
                display: block;

                &[data-number] {
                    .mod_touchevents & {
                        &:hover {
                            &::after,
                            &::before {
                                opacity: 1;
                            }
                        }
                    }

                    &::after {
                        @include text-small(400);

                        background: none;
                        color: #fff;
                        content: attr(data-number);
                    }
                }

                > img {
                    @include size(100%);

                    object-fit: cover;
                }

                &::after,
                &::before {
                    position: absolute;
                    opacity: 0;
                    content: "";
                }

                &::before {
                    @include size(100%);

                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.6);
                }

                &::after {
                    @include size(1.88rem);

                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: {
                        position: 50% 50%;
                        size: contain;
                        image: url(../img/icons/magnifier.svg);
                    };
                }

                .mod_no-touchevents & {
                    &:hover {
                        &::after,
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    &__options {
        display: flex;
        margin: 0 calc(-1 * (#{map_get($mq-indents, sm)} / 2));
        min-width: 50.8rem;

        > li {
            @include col-size(1/3);

            padding: 0 calc(#{map_get($mq-indents, sm)} / 2);

            > dl {
                &:not(:last-child) {
                    margin-bottom: .8rem;
                }

                > dt > a,
                > dd {
                    @include text-small;

                    display: block;
                    color: $color-light;
                }

                > dt > a {
                    @include mq(sm) {
                        font-weight: 300;
                    }

                    @include mq(lg) {
                        font-weight: 300;
                    }
                }

                > dd {
                    @include mq(sx) {
                        font-weight: 400;
                    }

                    @include mq(lg) {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    &__minimal-options-block {
        @include text-small(300);

        margin-top: map_get($mq-container-indents, 'sx') / 2 / 2;

        @include mq(sx) {
            display: none;
        }
    }

    &__all-options-grid {
        @include mq(md) {
            @include grid;

            margin-top: map-get($mq-container-indents, 'sx') / 2;
        }
    }

    &__all-options-grid-col {

        @include mq(md) {
            .mod_no-flexboxtweener & {
                flex: 1;
            }
        }

        @include mq(md) {
            @include grid-col;
            @include col-size(1/2);
        }
    }

    &__all-option-list-item {
        @include mq(md) {
            &:not(:last-child) {
                margin-bottom: calc(#{map_get($mq-container-indents, "sx")} / 2);
                padding-bottom: calc(((#{map_get($mq-container-indents, sx)} / 2) / 2) - 1px);
                border-bottom: 1px solid $color-lightest-minimal;
            }
        }

        &.not-sx {
            @include mq(sx) {
                display: none;
            }
        }

        &--plate {
            position: relative;
            padding-top: map_get($mq-container-indents, sx);
            padding-bottom: 0 !important;
            border: 0 !important;

            @include mq(snot-smm) {
                padding: calc(#{map_get($mq-container-indents, "sx")} / 2) 0 0;
                border: 0;

                &::before {
                    left: calc(-1 * #{map-get($mq-container-indents, 'sm')});
                    right: calc(-1 * #{map-get($mq-container-indents, 'sm')});
                }
            }

            @include mq(sx) {

                @include mq-custom(max, 912px) {
                    padding: calc(#{map_get($mq-container-indents, "sx")} / 2) 0 0;

                    &::before {
                        left: calc(-1 * #{map-get($mq-container-indents, 'sx')} / 2);
                        right: calc(-1 * #{map-get($mq-container-indents, 'sx')} / 2);
                    }
                }
            }

            &::before {
                @include mq-custom(max, 912px) {
                    position: absolute;
                    top: 0;
                    left: calc(-1 * #{map-get($mq-container-indents, 'sx')} / 2);
                    right: calc(-1 * #{map-get($mq-container-indents, 'sx')} / 2);
                    height: 1px;
                    background: $color-lightest-minimal;
                    content: "";
                }
            }
        }

        > dt > a,
        > dd {
            @include header-offer-h3;

            display: block;
            margin: 0 calc(-1 * #{map-get($mq-container-indents, 'sm')});
            padding: 1.4rem calc(#{map-get($mq-container-indents, 'sx')} + #{map-get($mq-container-indents, 'sm')}) 1.4rem map-get($mq-container-indents, 'sm');
            border-top: 1px solid $color-lightest-minimal;
            text-decoration: none !important;

            @include mq(sx) {
                @include interact(background-color, $color-lightest-secondary);

                margin: 0 calc(-1 * #{map-get($mq-container-indents, 'sx')} / 2);
                padding: 1.4rem calc(#{map-get($mq-container-indents, 'sx')} + #{map-get($mq-container-indents, 'sm')}) 1.4rem map-get($mq-container-indents, 'sx') / 2;
            }

            @include mq(md) {
                margin-right: 0;
                margin-left: 0;
                padding: 0;
                border: 0;
            }

            @include mq(lg) {
                @include interact(background-color, transparent);
            }
        }

        > dt {
            &.is-active {
                a::after {
                    transform: translateY(-50%) rotate(180deg);
                }

                + dd {
                    display: block;
                    overflow: visible;
                    margin-top: 0;
                    max-height: none;
                    border-color: $color-lightest-minimal !important;
                }
            }

            > a {
                @include header-offer-h3;

                position: relative;

                @include mq(md) {
                    margin-bottom: map_get($mq-container-indents, sx) / 4;
                    padding: 0;
                    pointer-events: none;

                    &::after {
                        display: none;
                    }
                }

                &::after {
                    position: absolute;
                    top: 50%;
                    right: map-get($mq-container-indents, 'sm');;
                    transform: translateY(-50%);
                    max-height: 1rem;
                    border-top: .6rem solid $color-base;
                    border-right: .5rem solid transparent;
                    border-left: .5rem solid transparent;
                    transition: $transition-duration-base;
                    content: "";
                }

                @include mq-custom(max, 912px) {
                    @include interact(background-color, $color-lightest-secondary);
                }
            }
        }

        > dd {
            @include text-offer;

            padding-top: 0;
            padding-bottom: 0;
            background-color: transparent;
            border-color: transparent !important;
            overflow: hidden;

            @include mq(sm) {
                padding-right: map-get($mq-container-indents, 'sm');
            }

            @include mq(sx) {
                padding-top: 0;
                padding-bottom: 0;
            }

            @include mq(md) {
                min-height: max-content !important; // overrides question-answer.js
                visibility: visible;
                overflow: visible;
            }

            @include mq-custom(max, 912px) {
                display: none;
                max-height: 0;
            }

            > article {
                padding-top: 1.4rem;
                padding-bottom: 1.4rem;

                @include mq(md) {
                    padding: 0;
                    opacity: 1;
                }


                > dl > dt,
                > p,
                > h6,
                > ul {

                    .is-close & {
                        transition: opacity $transition-duration-base-min;
                    }

                    &:not(:last-child) {
                        margin-bottom: calc((#{map_get($mq-container-indents, sm)} / 2) / 2);
                    }
                }

                > h6 {
                    @include text-offer;

                    font-weight: 700;

                    @include mq(md) {
                        font-weight: 700;
                    }
                    color: $color-base;
                }

                > ul {
                    list-style-type: none;

                    > li {
                        @include text-offer;

                        position: relative;
                        padding-left: 1.2rem;
                        color: $color-light;

                        &:not(:last-child) {
                            margin-bottom: .8rem;
                        }

                        &::before {
                            @include size(.4rem);

                            position: absolute;
                            top: .8rem;
                            left: 0;
                            border-radius: 50%;
                            background-color: $color-base;
                            content: "";
                        }

                        &[data-additional] {
                            &::before,
                            &::after {
                                position: absolute;
                                top: 1rem;
                                left: -0.0999rem;
                                display: block;
                                width: .7rem;
                                height: .1rem;
                                background-color: $brand-turquoise;
                                content:"";
                            }

                            &::after {
                                transform: rotate(90deg);
                            }
                        }

                        > a,
                        > a.tooltip-link {
                            @include interact(text-decoration, none);

                            font-weight: 400;
                            border-bottom: 1px dotted;
                        }

                        // for option filter

                        .is-just-additional-option & {
                            &:not([data-additional]) {
                                display: none;
                            }
                        }

                        .is-just-main-option & {
                            &[data-additional] {
                                display: none;
                            }
                        }
                    }
                }

                > dl {
                    &:not(:last-child) {
                        margin-bottom: .8rem;
                    }

                    > dt,
                    > dd {
                        @include text-small;

                        display: block;
                        color: $color-light;
                    }

                    > dt {
                        @include text-offer;

                        font-weight: 700;

                        @include mq(md) {
                            font-weight: 700;
                        }
                        color: $color-base;
                    }

                    > dd {
                        @include mq(sx) {
                            font-weight: 400;
                        }

                        @include mq(lg) {
                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    &__footer {
        text-align: center;
        width: 100%;
        padding: map_get($mq-container-indents, sx) / 4 0;
        border-top: 1px solid $color-lightest-minimal;
    }

    &__aside {
        z-index: 99; // for tooltip
        transition: all $transition-duration-base;
        width: 100%;

        @include mq(md) {
            position: sticky;
            top: 0;
            width: 36.02%;
            border-top: 0;
        }

        @include mq(lg) {
            width: 34.8%;
        }

        .mod_no-flexboxtweener & {
            padding: map-get($mq-container-indents, 'sx') / 2 map_get($mq-indents, sm) calc((#{map_get($mq-container-indents, sx)} / 2));

            @include mq(md) {
                padding: map_get($mq-container-indents, sx);
            }
        }

        &.is-fixed {
            position: static;
            padding: 0;

            @include mq(md) {
                position: static;
                padding: 0;
            }
        }
    }

    &__aside-fixed-box {
        min-width: 23rem;

        .mod_flexboxtweener & {
            padding: map-get($mq-container-indents, 'sx') / 2 map_get($mq-indents, sm) calc((#{map_get($mq-container-indents, sx)} / 2));

            @include mq(md) {
                padding: map_get($mq-container-indents, sx);
            }
        }

        .is-fixed & {
            position: sticky;
            top: 0;
            padding: map-get($mq-container-indents, 'sx') / 2 map_get($mq-indents, sm) calc((#{map_get($mq-container-indents, sx)} / 2));
            transition: all $transition-duration-base;

            @include mq(sx) {
                padding: map-get($mq-container-indents, 'sx') / 2;
            }

            @include mq(md) {
                padding: map_get($mq-container-indents, sx);
            }

            &.is-fixed {
                position: fixed;
                top: 0;
                right: 0;
                transform: translateZ(0);
                z-index: 120;
            }

            &.is-fixed-bottom {
                position: absolute;
                bottom: 0;
                right: 0;
                left: auto !important;
                padding-bottom: 3rem;
            }
        }
    }

    &__price,
    &__price-description {
        text-align: center;

        @include mq(md) {
            text-align: left;
        }

        > br {
            display: none;

            @include mq(lg) {
                display: block;
            }
        }
    }

    &__price {
        @include header-h1;

        margin-bottom: calc(((#{map_get($mq-container-indents, sx)} / 2) / 2) / 2);

        > span {
            font-size: 1.3rem;
            font-weight: 400;
        }
    }

    &__sale-box {
        display: none;
        align-items: flex-start;
        justify-content: center;
        margin-top: .8rem;
        line-height: 1;

        @include mq(md) {
            justify-content: flex-start;
            margin-bottom: map-get($mq-container-indents, 'sx') / 2;
        }

        &[data-old-price],
        &[data-sale] {
            display: flex;
        }

        &[data-old-price] {
            &::before {
                font-size: 1.3rem;
                line-height: 1.54;
                display: block;
                text-decoration: line-through;
                color: $color-light;
                content: attr(data-old-price);
            }
        }

        &[data-sale] {
            &::after {
                @include ellipsis;

                font-size: 1.2rem;
                line-height: 1.33;
                display: block;
                margin-left: 2.2rem;
                padding: .2rem .6rem;
                max-width: 50%;
                border-radius: $border-radius-min;
                background: $brand-grapefruit;
                font-weight: 400;
                color: #fff;
                content: attr(data-sale);
            }
        }
    }

    &__price-description {
        @include text-small(300);

        margin-top: .8rem;
        margin-bottom: map_get($mq-container-indents, sx) / 4;

        @include mq(sx) {
            margin-bottom: map-get($mq-container-indents, 'sx') / 2;
            font-weight: 300;
        }

        a,
        .help-string__trigger {
            font-weight: 300;

            @include mq(lg) {
                font-weight: 300;
            }
        }
    }

    &__action-block {
        margin-top: map_get($mq-container-indents, sx) / 4;

        @include mq(sx) {
            margin-top: map-get($mq-container-indents, 'sx') / 2;
        }

        > span {
            @include text-small;

            display: block;
            margin-top: .8rem;
            text-align: center;
            color: $color-light;
        }
    }

    &__link-box {
        display: inline-block;

        &.not-md {
            margin-top: map-get($mq-container-indents, 'sm');

            @include mq(md) {
                display: none;
            }
        }

        &.is-md {
            display: none;

            @include mq(md) {
                margin-top: map-get($mq-container-indents, 'sx') / 2;
                display: block;
            }
        }

        > li {
            line-height: 0;

            &:not(:last-child) {
                margin-bottom: .8rem;
            }

            @include mq-custom(max, 912px) {

                &:last-child {
                    display: none;
                }
            }


            > .icon-link {
                > .load-close,
                > .icon {
                    margin-right: .8rem;
                }

                .load-close {
                    margin: 0 auto;

                    @include mq(md) {
                        margin-right: 1.2rem;
                    }
                }

                > span,
                &::after {
                    display: block;
                }

                &[data-report]{
                    padding-left: 0;

                    > .icon {
                        position: relative;
                        padding-left: 0;
                        top: 0;
                    }
                }
            }

            &.is-mobile {
                display: none;

                @include mq-custom(max, 912px) {
                    display: block;
                }
            }
        }
    }

    &__plate {
        @include text-small(300);

        padding: map-get($mq-container-indents, 'sx') / 2;
        border-radius: $border-radius-min;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.09);
        color: $color-light;

        .is-just-main-option & {
            display: none;
        }

        .is-just-additional-option & {
            display: block !important;
        }
    }
}
